root = true

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
max_line_length = 120
indent_size = 4
insert_final_newline = false
ktlint_code_style = android_studio

# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-wildcard-imports = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_trailing-comma-on-declaration-site = disabled